html,
body {
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: brown;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

header {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: yellow;
}

p {
    font-size: 1em;
    padding-left: 1em;
    font-family: "휴먼편지체";
}

hr {
    border: 1px solid black;
}

section {
    background-color: pink;
    padding: 15px;
    margin: 15px;
    font-family: "휴먼편지체";
}

label {
    color: purple;
    font-size: 1.2em;
    font-family: "malgun gothic";
    font-weight: bold;
}

footer {
    background-color: mediumpurple;
    padding: 20px;
    font-family: "휴먼편지체";
}